<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mantium</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/css">
      body {
        padding: 15px;
      }
    </style>
  </head>
  <body>
    <h1 class="text-3xl font-bold mb-6">Hello Mantium!</h1>

    <!-- <p><a href="/access">Get access</a></p> -->
    <div
      class="code-preview rounded-xl bg-gradient-to-r bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-700 p-2 sm:p-6 dark:bg-gray-800"
    >
    <h2>Sopify</h2>
    </div>
  </body>
</html>
